.App {
  min-height: 100vh;
}

.content {
  padding: 0 150px;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .content {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 50px;
  }

  .side-element {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 0 25px;
  }
}